{
  // Default options
  'functions': true
}

.emojione {
  text-indent: -9999em;
  image-rendering: optimizeQuality;
  font-size: inherit;
  height: 21px;
  width: 21px;
  position: relative;
  display: inline-block;
  margin: 0;
  line-height: normal;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 1193px 1193px;
}

{{#items}}
.{{name}} {
  background-position: {{position_x}}px {{position_y}}px;
}
{{/items}}
